[userInfo-component] {
  input{
    width:150px;
    diaplay:inline-block;
    margin: 0 20px;
  }
  .number-ipt {
      margin-right: 20px;
  }
  .ivu-alert.ivu-alert-info{
    width: 200px;
    position: absolute;
    top: 180px;
    left: 230px;
  }
}