[boxs-component] {
  background: #FFF;
  min-width: 100%;
  min-height:100%;
  .long-ipt {
    width: 100%;
  }
  .btn-wrap {
    padding: 20px 0;
    text-align: center;
    .add-btn {
      margin-right: 40px;
    }
  }
  .page-wrap {
    background-color: #fff;
    padding: 10px 20px;
  }

}
