* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Microsoft Yahei", Helvetica;
  color: #666;
  height: 100%;
  width: 100%;
}
a {
  outline: none;
  text-decoration: none;
  color: #666;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div, dl, dt, dd {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Microsoft Yahei";
}
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, blockquote, pre, form, fieldset, table, th, td, span {
  padding: 0;
  margin: 0;
}
.component-header {
  line-height: 60px;
  padding-left: 20px;
  background-color:#fff;
  .search-ipt {
    width: 200px;
    margin: auto 5px;
  }
  .search-btn {
    margin: auto 5px;
  }
  .export-btn-wrap {
    float: right;
    margin-right: 10px;
  }
}

.component-footer {
  padding: 20px 40px;
  background: #fff;
}

.component-table {
  .opt-col-btn {
    color: #57a3f3;
    padding: 6px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.short-ipt {
  width: 100px;
  margin-right: 10px;
}

.set-code-total {
  padding: 5px 40px;
}
.page-wrap {
  margin: 10px 0;
}
.ivu-form {
  width:80%
}
.component-list {
  background-color:#fff;
  padding:20px 0 0 50px;
  label{
    line-height:30px;
    width:100px;
    display:inline-block
  }
}

.component-form {
  background-color:#fff;
}